# Dependencies
node_modules/

# Environment variables
.env
key.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders (if you add frontend later)
dist/
build/

# Optional
coverage/